 .case-study {
     padding: 100px 0;

 }



 .container-caseStudy span {
     display: block;
     font-weight: 300;
     font-size: 30px;
 }

 .container-caseStudy h2 {
     margin-bottom: 60px;
 }

 .flex-caseStudy {
     display: flex;
     justify-content: center;
     margin-top: 30px;
 }

 .case-text {
     width: 500px;
 }

 .container-caseStudy .case-text h3 {
     padding: 20px 25px;
     margin: 0;
     border-radius: 2px 15px;
     border: 1px solid rgb(230, 229, 229);
 }

 .flex-caseStudy .case-text h3,
 p {
     text-align: left;
 }

 .flex-caseStudy .case-text p {
     color: rgb(143, 141, 141);
     padding: 10px 10px;
 }

 a {
     float: right;
     text-decoration: none;
     margin-top: 60px 0 0 0;
     color: var(--perpel-color)
 }

 .flex-caseStudy .pic img {
     width: 600px;
     height: 280px;
 }

 .flex-caseStudy {
     display: grid;
     grid-template-columns: repeat(2, max-content);
     justify-content: flex-end;
     height: 100%;
 }

 .more {
     display: flex;
     flex-direction: column;
     align-items: end;
 }

 .case-text .link {
     color: black;
     position: relative;
     transition: 3s;
 }

 .case-text a:not(.link):hover .case-text .link {
     display: block;
 }

 /* ===========Responsive========== */

 @media (max-width:1100px) {
     .flex-caseStudy .pic img {
         width: 400px;
     }

     .flex-caseStudy .case-text {
         width: 400px !important;
     }

 }


 @media (max-width:835px) {
     .flex-caseStudy {
         height: 362px !important;
     }

     .flex-caseStudy .pic img {
         width: 300px;
     }
 }

 @media (max-width:790px) {
     .flex-caseStudy {
         margin-bottom: 70px;
         justify-content: center;
     }



     @media (max-width:750px) {

         /* .flex-caseStudy .pic {
         align-self: flex-start;
     } */
         .flex-caseStudy .case-text {
             width: 350px !important;

         }

         .flex-caseStudy {
             row-gap: 1.25rem;
         }
     }

 }

 @media(max-width:680px) {
     .flex-caseStudy {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         justify-content: center;
         margin: 0 0 290px
     }

     .flex-caseStudy .pic img {
         width: 100%;
     }

     .flex-caseStudy .case-text {
         width: 100% !important;
         height: 100% !important;
     }
 }

 @media(max-width:460px) {
     .case-study p {
         font-size: 14px;
     }
 }

 @media(max-width:355px) {
     .read-case {
         margin-top: 20px;
     }
 }