section .developement {
    padding: 40px 0;
}

.headTitle-developement {
    text-align: center;
    margin-bottom: 80px;
}

.headTitle-developement hr {
    margin: 20px auto;
}

.container-developement {
    margin: auto;
    text-align: center;
    width: 90%;
}

/* style= {
        {
        width: "418px", height:"237px", display:"flex", alignItems:"center", margin:" 2px auto", padding:"10px"
    }
} */

@media (max-width:570px) {
    .container-developement {
        position: relative;
        left: 30px;
    }


}